option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: '8080'
    NODE_OPTIONS: --max-old-space-size=512
    IDENTITY_PROVIDER: cognito
    AWS_REGION: ap-southeast-2
    POSTER_BUCKET_NAME: cloudflex-posters-team15xaut
    ADMIN_EMAILS: admin@movieflex.com
  aws:elasticbeanstalk:environment:process:default:
    Port: '80'
    Protocol: HTTP
    HealthCheckPath: /health
    HealthCheckInterval: '5'
    HealthCheckTimeout: '2'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '3'
    MatcherHTTPCode: '200'
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Rolling
    BatchSizeType: Fixed
    BatchSize: '1'
    Timeout: '1200'
